/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Title */
.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

/* Cards container */
.cards {
  display: flex;
  gap: 2rem; /* Space between cards */
}

/* Individual card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  /* background-color: #333; */
  height: 300px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Card image */
.cardImage {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

/* Card button */
.cardButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #0f0e0e;
  background-color: #e8abad;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cardButton:hover {
  background-color: #dc7687;
}
