.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .logoContainer {
    cursor: pointer;
  }
  
  .logo {
    width: 35px; /* Adjust logo size */
    height: auto;
  }
  
  .profileIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .iconImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    z-index: 10;
  }
  
  .menuList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menuItem {
    margin: 0.5rem 0;
    cursor: pointer;
  }
  
  .menuItem:hover {
    color: #007bff;
  }
  
  .menuItemSignOut {
    color: red;
    cursor: pointer;
  }
  
  .divider {
    margin: 0.5rem 0;
    border-top: 1px solid #ccc;
  }
  
/* Pop up thing */
.popupOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.popup p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
}

.popupActions {
  display: flex;
  justify-content: space-between;
}

.yesButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.yesButton:hover {
  background-color: #c82333;
}

.noButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.noButton:hover {
  background-color: #218838;
}
