.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
    background-color: #f2c7c7;
    padding-left: 4rem;
  }
  
.card {
    background: linear-gradient(145deg, #ffffff, #f4f4f4);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.title {
    color: #333;
    text-align: left;
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
  
.inputWrapper {
  margin-bottom: 1rem;
    position: relative;
}
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
.clearButton {
    color: #ddd;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
  
.clearButton:hover {
  color: #ff4d4d;
}

.continueButton {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
}
  
.continueButton:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.description {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #555;
    line-height: 1.5;
}


  