.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  background-color: #f2c7c7;
  padding-left: 4rem; 
}

.card {
  background: linear-gradient(145deg, #ffffff, #f4f4f4); /* Subtle gradient for a polished look */
  padding: 2rem;
  border-radius: 12px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow for depth */
  max-width: 450px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
}

.card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

.inputWrapper {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4); 
}

.clearButton {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #888;
  cursor: pointer;
  transition: color 0.3s;
}

.clearButton:hover {
  color: #555;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.backButton {
  background-color: #a9a5a5;
  color: #232324;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 48%;
  transition: background-color 0.3s ease, transform 0.3s;
}

.backButton:hover {
  background-color: #8e8a8a; 
  transform: translateY(-2px); 
}

.continueButton {
  background-color: #007bff;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px; 
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  /* height: 60%; */
  width: 48%;
  transition: background-color 0.3s ease, transform 0.3s;
}

.continueButton:hover {
  background-color: #0056b3; 
  transform: translateY(-2px); 
}
